<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Авторизация</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css" />
</head>
<body class="body-account">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-centeredSite shadow-lg p-3 mb-5 bg-white rounded">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>