
@{
    ViewData["Title"] = "Обратная связь";
}

<div style="margin-top: 25px;">
    <a asp-action="Index" asp-controller="Main" class="link2S"><i class="fab fa-elementor"></i> Назад в каталог</a>
    <a asp-action="Index" asp-controller="Main" class="link3S">Главная</a> —
    <a href="#" class="link3S">Обратная связь</a>
    <div class="row">
        <div class="col-12">
            <div class="block31S">
                <label class="label6S">
                    Наши контакты:
                </label>
                <br>
                <ul style="list-style: circle;">
                    <li>
                        <b>Сотовый(Whatsapp)</b>
                        <br />
                        8-775-912-74-05
                    </li>
                    <li>
                        <b>Электронная почта(Email)</b>
                        <br />
                        mymaykakz@gmail.com
                    </li>
                </ul>
                <hr />
                <a asp-action="Index">Вернуться на главную</a>
            </div>
        </div>
    </div>
</div>
