
@{
    ViewData["Title"] = "Доставка и оплата";
}
<div style="margin-top: 25px;">
    <a asp-action="Index" asp-controller="Main" class="link2S"><i class="fab fa-elementor"></i> Назад в каталог</a>
    <a asp-action="Index" asp-controller="Main" class="link3S">Главная</a> —
    <a href="#" class="link3S">Способы доставки и оплаты</a>

    <div class="row">
        <div class="col-lg-8" style=" border: 2px dashed #efeded; margin-top: 10px;">
            <label class="label6S">
                Способы доставки
            </label>
            <br>
            <label>
                Получить заказ вы можете одним из перечисленных способов:
            </label>
            <br>
            <ul style="list-style: circle;">
                <li><b>Доставка по Астане 500 тг</b> доставляется до двери в течении дня;</li>
                <li><b>Доставка до почтового отделения KazPost по всему Казахстану</b> (5-7 дней) - 500-800тг;</li>
            </ul>

            <label class="label6S">
                Способ оплаты
            </label>
            <br>
            <ul style="list-style: circle;">
                <li><b>Наложенный платеж</b> (оплата при получении).</li>
            </ul>
        </div>


        <div class="col-lg-4" style="margin-top: 10px;">
            <div class="block34S">
                <div></div>
                <i class="fas fa-shopping-basket fa-2x iconS"></i>
                <br />
                <label> Вы заказываете товар </label>
            </div>
            <div class="block34S">
                <i class="fas fa-truck fa-2x iconS"></i>
                <br />
                <label>  Товар доставляют до дома </label>
            </div>
            <div class="block34S">
                <i class="fas fa-coins fa-2x iconS"></i>
                <br />
                <label>  После полного осмотра вы платите за товар </label>
            </div>
        </div>
    </div>

</div>