
@{
    Layout = null;
}
<div class="block29S">
    <label>Оформить заказ</label>
    <hr />

    <label class="label16S block30S" for="FullName">Ф.И.О.</label>
    <br />
    <input class="inputS block30S" type="text" name="FullName" placeholder="Фамилия Имя Отчество" required />
    <br />
    <label class="label16S block30S" for="Phone">Телефон</label>
    <br />
    <input class="inputS block30S" type="text" name="Phone" placeholder="Мобильный телефон" required />
    <br />
    <label class="label16S block30S" for="Email">E-mail</label>
    <br />
    <input class="inputS block30S" type="text" name="Email" placeholder="Электронная почта" required />
    <br />
    <label class="label16S block30S" for="City">Область</label>
    <br />
    <select class="inputS block30S" name="City" required>
        <option value="Город Астана(Нур-Султан)">Город Астана(Нур-Султан)</option>
        <option value="Город Алматы">Город Алматы</option>
        <option value="Город Шымкент">Город Шымкент</option>
        <option value="Акмолинская область">Акмолинская область</option>
        <option value="Актюбинская область">	Актюбинская область</option>
        <option value="Алматинская область">Алматинская область</option>
        <option value="Атырауская область">Атырауская область</option>
        <option value="Восточно-Казахстанская область">Восточно-Казахстанская область</option>
        <option value="Жамбылская область">Жамбылская область</option>
        <option value="Западно-Казахстанская область">Западно-Казахстанская область</option>
        <option value="Карагандинская область">Карагандинская область</option>
        <option value="Костанайская область">	Костанайская область</option>
        <option value="Кызылординская область">Кызылординская область</option>
        <option value="Мангистауская область">	Мангистауская область</option>
        <option value="Павлодарская область">Павлодарская область</option>
        <option value="Северо-Казахстанская область">Северо-Казахстанская область</option>
        <option value="Туркестанская область">Туркестанская область</option>
    </select>
    <br />
    <label class="label16S block30S" for="Address">Адрес</label>
    <br />
    <input class="inputS block30S" type="text" name="Address" placeholder="Адрес( город, улица, дом)" required />

    <hr />
    <input type="submit" value="Подтвердить заказ" class="btn btn-success" style="margin-left: 131px;" />
    <br />
    <br />
    <label class="label19S">(После заполнения формы вам позвонит наш диспетчер и обговорит с вами детали заказа)</label>
</div>
