
@{
    ViewData["Title"] = "Отзыв принят";
}
<div style="margin-top: 25px;">
    <a asp-action="Index" asp-controller="Main" class="link2S"><i class="fab fa-elementor"></i> Назад в каталог</a>
    <a asp-action="Index" asp-controller="Main" class="link3S">Главная</a> —
    <a asp-action="Rewiews" asp-controller="Main" class="link3S">Отзывы</a> —
    <a href="#" class="link3S">Отзыв принят</a>
</div>
<div class="row">
    <div class="col-10 ">
        <div class="block31S">
            <h5>Спасибо, что оставили отзыв. После прохождения проверки отзыв будет опубликован.</h5>
            <hr />
            <a asp-action="Index">Вернуться на главную</a>
        </div>
    </div>
</div>